/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  --ag-foreground-color: #222;
  --ag-background-color: #fff;
  --ag-header-background-color: #1976d2;
  --ag-header-foreground-color: #fff;
  --ag-row-hover-color: #e3f2fd;
}
